<section class="section section--last" id="portfolio">
  <div class="paper paper--1100 paper--fixed paper--patterns in-view" data-elements="PAPER_PORTFOLIO">
    <script>
      var PAPER_PORTFOLIO = [{
          type: 'circle',
          strokeColor: '#587291',
          strokeWidth: 12,
          mobile: {
            x: -480,
            y: 360,
            size: 6
          },
          desktop: {
            x: -480,
            y: 360,
            size: 6
          }
        },
        {
          type: 'wave',
          rotate: 22,
          strokeColor: '#dce6f2',
          strokeWidth: 5,
          mobile: {
            x: -500,
            y: 0,
            size: 18
          },
          desktop: {
            x: -500,
            y: 0,
            size: 18
          }
        },
        {
          type: 'wave',
          rotate: 195,
          strokeColor: '#dce6f2',
          strokeWidth: 5,
          mobile: {
            x: 0,
            y: -380,
            size: 30
          },
          desktop: {
            x: 0,
            y: -380,
            size: 30
          }
        },
        {
          type: 'wave',
          rotate: -45,
          strokeColor: '#dce6f2',
          strokeWidth: 5,
          mobile: {
            x: 440,
            y: 0,
            size: 21
          },
          desktop: {
            x: 440,
            y: 0,
            size: 21
          }
        },
        {
          type: 'triangle',
          rotate: -85,
          strokeColor: '#587291',
          strokeWidth: 12,
          mobile: {
            x: -280,
            y: -280,
            size: 28
          },
          desktop: {
            x: -280,
            y: -280,
            size: 28
          }
        },
        {
          type: 'triangle',
          rotate: 25,
          strokeColor: '#1ccad8',
          strokeWidth: 8,
          mobile: {
            x: 180,
            y: 380,
            size: 12
          },
          desktop: {
            x: 180,
            y: 380,
            size: 12
          }
        },
        {
          type: 'circle',
          strokeColor: '#1ccad8',
          strokeWidth: 12,
          mobile: {
            x: -560,
            y: -250,
            size: 44
          },
          desktop: {
            x: -560,
            y: -250,
            size: 44
          }
        },
        {
          type: 'circle',
          strokeColor: '#587291',
          strokeWidth: 14,
          mobile: {
            x: 240,
            y: -350,
            size: 10
          },
          desktop: {
            x: 240,
            y: -350,
            size: 10
          }
        },
        {
          type: 'circle',
          strokeColor: '#dce6f2',
          strokeWidth: 14,
          mobile: {
            x: 390,
            y: 280,
            size: 36
          },
          desktop: {
            x: 390,
            y: 280,
            size: 36
          }
        },
        {
          type: 'circle',
          strokeColor: '#1ccad8',
          strokeWidth: 14,
          mobile: {
            x: 580,
            y: 40,
            size: 20
          },
          desktop: {
            x: 580,
            y: 40,
            size: 20
          }
        },
        {
          type: 'raster',
          src: '/assets/media/stock/shape--16.png',
          rotate: 0,
          mobile: {
            x: 520,
            y: -230,
            scale: 0.4
          },
          desktop: {
            x: 520,
            y: -230,
            scale: 0.4
          }
        },
        {
          type: 'raster',
          src: '/assets/media/stock/shape--18.png',
          rotate: 210,
          mobile: {
            x: 500,
            y: -210,
            scale: 0.3
          },
          desktop: {
            x: 500,
            y: -210,
            scale: 0.3
          }
        },
        {
          type: 'raster',
          src: '/assets/media/stock/shape--17.png',
          rotate: 0,
          mobile: {
            x: -220,
            y: 300,
            scale: 0.4
          },
          desktop: {
            x: -220,
            y: 300,
            scale: 0.4
          }
        },
        {
          type: 'raster',
          src: '/assets/media/stock/shape--18.png',
          rotate: 0,
          mobile: {
            x: -170,
            y: 290,
            scale: 0.4
          },
          desktop: {
            x: -170,
            y: 290,
            scale: 0.4
          }
        },
        {
          type: 'raster',
          src: '/assets/media/stock/shape--19.png',
          rotate: 0,
          mobile: {
            x: -500,
            y: 140,
            scale: 0.15
          },
          desktop: {
            x: -500,
            y: 140,
            scale: 0.15
          }
        },
        {
          type: 'raster',
          src: '/assets/media/stock/shape--18.png',
          rotate: 25,
          mobile: {
            x: -490,
            y: 120,
            scale: 0.3
          },
          desktop: {
            x: -490,
            y: 120,
            scale: 0.3
          }
        },
        {
          type: 'raster',
          src: '/assets/media/stock/shape--16.png',
          rotate: 45,
          blendMode: 'xor',
          mobile: {
            x: 100,
            y: -100,
            scale: 0.6
          },
          desktop: {
            x: 100,
            y: -100,
            scale: 0.6
          }
        },
        {
          type: 'raster',
          src: '/assets/media/stock/shape--19.png',
          rotate: 165,
          blendMode: 'xor',
          mobile: {
            x: -50,
            y: -100,
            scale: 0.4
          },
          desktop: {
            x: -50,
            y: -100,
            scale: 0.4
          }
        },
      ];

    </script>
    <canvas class="in-view__child in-view__child--fadein" data-paper-resize="true" data-paper-keepalive="true"></canvas>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1">
        <header class="">
          <h1 class="page-title">Portfolio</h1>
          <h5 class="page-subtitle"><span>Meet our priceless partners.</span></h5>
        </header>
        <div class="portfolio-showcase">

          <div class="portfolio-showcase__item" style="cursor: pointer;">
            <a href="/portfolio/gsimp">
              <div class="portfolio-showcase__item__image in-view">
                <div class="row">
                  <div class="col-12 col-lg-10 offset-lg-1">
                    <div class="poster poster--horizontal">
                      <figure>
                        <img class="lazyload--el lazyload in-view__child"
                          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAANCAMAAAB8UqUVAAAAA1BMVEX///+nxBvIAAAAC0lEQVQY02NgGAUAAQQAAbVxjmkAAAAASUVORK5CYII="
                          data-src="/assets/media/portfolio/sidm_landing.png" alt="" width="1920" height="1280">
                        <div class="poster--cover in-view in-view__child"></div>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              <div class="portfolio-showcase__item__copy in-view">
                <h3 class="portfolio-showcase__item__copy__title in-view__child in-view__child--fadein">
                </h3>
                <a class="portfolio-showcase__item__copy__link sub-head dashed in-view__child in-view__child--fadein"
                  href="portfolio-align-center.html">Learn more</a>
              </div>
            </a>
          </div>

          <div class="portfolio-showcase__item">
            <div class="portfolio-showcase__item__image in-view">
              <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                  <div class="poster poster--horizontal">
                    <figure>
                      <img class="lazyload--el lazyload in-view__child"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAANCAMAAAB8UqUVAAAAA1BMVEX///+nxBvIAAAAC0lEQVQY02NgGAUAAQQAAbVxjmkAAAAASUVORK5CYII="
                        data-src="/assets/media/portfolio/pvp_landing.png"
                        alt="Plant Variety Protection Platform Case Study" width="1920" height="1280">
                      <div class="poster--cover in-view in-view__child"></div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolio-showcase__item__copy in-view">
              <h2 class="portfolio-showcase__item__copy__title in-view__child in-view__child--fadein">
                <a href="portfolio-align-center.html"></a>
              </h2>
              <a class="portfolio-showcase__item__copy__link sub-head dashed in-view__child in-view__child--fadein"
                href="portfolio-align-center.html">Learn more</a>
            </div>
          </div>
          <div class="portfolio-showcase__item">
            <div class="portfolio-showcase__item__image in-view">
              <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                  <div class="poster poster--horizontal">
                    <figure>
                      <img class="lazyload--el lazyload in-view__child"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAANCAMAAAB8UqUVAAAAA1BMVEX///+nxBvIAAAAC0lEQVQY02NgGAUAAQQAAbVxjmkAAAAASUVORK5CYII="
                        data-src="/assets/media/stock/placeholder-1920x1280.jpg" alt="" width="1920" height="1280">
                      <div class="poster--cover in-view in-view__child"></div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolio-showcase__item__copy in-view">
              <h2 class="portfolio-showcase__item__copy__title in-view__child in-view__child--fadein">
                <a href="portfolio-align-center.html">Bar stool</a>
              </h2>
              <a class="portfolio-showcase__item__copy__link sub-head dashed in-view__child in-view__child--fadein"
                href="portfolio-align-center.html">Learn more</a>
            </div>
          </div>
          <div class="portfolio-showcase__item">
            <div class="portfolio-showcase__item__image in-view">
              <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                  <div class="poster poster--horizontal">
                    <figure>
                      <img class="lazyload--el lazyload in-view__child"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAANCAMAAAB8UqUVAAAAA1BMVEX///+nxBvIAAAAC0lEQVQY02NgGAUAAQQAAbVxjmkAAAAASUVORK5CYII="
                        data-src="/assets/media/stock/placeholder-1920x1280.jpg" alt="" width="1920" height="1280">
                      <div class="poster--cover in-view in-view__child"></div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolio-showcase__item__copy in-view">
              <h2 class="portfolio-showcase__item__copy__title in-view__child in-view__child--fadein">
                <a href="portfolio-align-center.html">Bar stool</a>
              </h2>
              <a class="portfolio-showcase__item__copy__link sub-head dashed in-view__child in-view__child--fadein"
                href="portfolio-align-center.html">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="cta">
  <div class="cta cta--darken cta--primary in-view" data-offset="90%">
    <div class="cta__copy text-center">
      <h3>Want to work together?</h3>
      <div class="d-inline-block margin-top margin-bottom in-view__child in-view__child--scalein">
        <a class="btn btn--secondary" href="#">Let’s do that!</a>
      </div>
    </div>
  </div>
</section>
