 <section class="section">
   <div class="container">
     <div class="row">
       <div class="col-12 col-xl-10 offset-xl-1">
         <div class="in-view">
           <h1 class="page-title in-view__child in-view__child--fadein">Hobbies</h1>
           <h5 class="page-subtitle"><span>All Grind and No Play . .</span></h5>
         </div>
         <div class="service-icon in-view padding-top margin-top">
           <div class="service-icon__background"></div>
           <div class="service-icon__copy">
             <div class="row in-view__child in-view__child--fadein">
               <div class="col-12 col-lg-6">
                 <div class="service-icon__item">
                   <div class="row align-items-center">
                     <div class="col-auto"><i class="fa fa-fw fa-2x fa-gamepad"></i></div>
                     <div class="col">
                       <h6>Playing Games</h6>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="col-12 col-lg-6">
                 <div class="service-icon__item">
                   <div class="row align-items-center">
                     <div class="col-auto"><i class="fa fa-fw fa-2x fa-book"></i></div>
                     <div class="col">
                       <h6>Reading Books</h6>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="row in-view__child in-view__child--fadein">
               <div class="col-12 col-lg-6">
                 <div class="service-icon__item">
                   <div class="row align-items-center">
                     <div class="col-auto"><i class="fa fa-fw fa-2x fa-cube"></i></div>
                     <div class="col">
                       <h6>Oceanic Operation</h6>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="col-12 col-lg-6">
                 <div class="service-icon__item">
                   <div class="row align-items-center">
                     <div class="col-auto"><i class="fa fa-fw fa-2x fa-odnoklassniki-square"></i></div>
                     <div class="col">
                       <h6>Bonanza Control</h6>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="row in-view__child in-view__child--fadein">
               <div class="col-12 col-lg-6">
                 <div class="service-icon__item">
                   <div class="row align-items-center">
                     <div class="col-auto"><i class="fa fa-fw fa-2x fa-modx"></i></div>
                     <div class="col">
                       <h6>Research</h6>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="col-12 col-lg-6">
                 <div class="service-icon__item">
                   <div class="row align-items-center">
                     <div class="col-auto"><i class="fa fa-fw fa-2x fa-music"></i></div>
                     <div class="col">
                       <h6>Listening to Music</h6>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
