 <section class="section">
   <div class="container">
     <div class="row">
       <div class="col-12 col-xl-10 offset-xl-1">
         <div class="in-view">
           <h1 class="page-title in-view__child in-view__child--fadein">Skills</h1>
           <h5 class="page-subtitle"><span>Pixudio’s top work collection.</span></h5>
         </div>
         <div class="row padding-top margin-top">
           <div class="col-12 col-lg-6">
             <div class="service-link in-view">
               <h4 class="in-view__child in-view__child--fadein">Syntax &amp; Development Tools</h4>
               <div class="indent text-body-3 in-view__child in-view__child--fadein">
                 <p>We’ll lead you through the process of defining what makes you unique and then express this
                   through a brand identity.</p>
               </div>
               <div class="indent margin-bottom in-view__child in-view__child--fadein">
                 <div><a class="sub-head dashed dashed--hover in-view__child" href="#">Voice &amp;
                     Messaging</a></div>
                 <div><a class="sub-head dashed dashed--hover in-view__child" href="#">Brand Identity</a>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-12 col-lg-6">
             <div class="service-link in-view">
               <h4 class="in-view__child in-view__child--fadein">Marketing &amp; Workplace Tools</h4>
               <div class="indent text-body-3 in-view__child in-view__child--fadein">
                 <p>We steer a path through the limitless possibilities of digital, making business challenges
                   opportunities for growth.</p>
               </div>
               <div class="indent margin-bottom in-view__child in-view__child--fadein">
                 <div><a class="sub-head dashed dashed--hover in-view__child" href="#">Creative Direction</a>
                 </div>
                 <div><a class="sub-head dashed dashed--hover in-view__child" href="#">User Experience</a>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-12 col-lg-6">
             <div class="service-link in-view">
               <h4 class="in-view__child in-view__child--fadein">Cashless ticket exchange</h4>
               <div class="indent text-body-3 in-view__child in-view__child--fadein">
                 <p>Exchange and Register your cashless wristband. Register it online and connect your credit
                   card in a few easy steps!</p>
               </div>
               <div class="indent margin-bottom in-view__child in-view__child--fadein">
                 <div><a class="sub-head dashed dashed--hover in-view__child" href="#">Initiate trade</a>
                 </div>
                 <div><a class="sub-head dashed dashed--hover in-view__child" href="#">Negotiate swap</a>
                 </div>
                 <div><a class="sub-head dashed dashed--hover in-view__child" href="#">official spot</a></div>
               </div>
             </div>
           </div>
           <div class="col-12 col-lg-6">
             <div class="service-link in-view">
               <h4 class="in-view__child in-view__child--fadein">User Interface Strategy</h4>
               <div class="indent text-body-3 in-view__child in-view__child--fadein">
                 <p>We focus on how the components of a website work together and connect them from a user’s
                   perspective to create an engaging, user-friendly experience.</p>
               </div>
               <div class="indent margin-bottom in-view__child in-view__child--fadein">
                 <div><a class="sub-head dashed dashed--hover in-view__child" href="#">Mobile Applications</a>
                 </div>
                 <div><a class="sub-head dashed dashed--hover in-view__child" href="#">Web Applications</a>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
