 <section class="section section--singular" id="portfolio">
   <div class="container">
     <div class="row">
       <div class="col-12 col-xl-10 offset-xl-1">
         <header class="page-header">
           <h1 class="page-title display-one">Bar stool</h1>
         </header>
         <div class="single-portfolio__meta">
           <div class="row">
             <div class="col-12 col-lg-6 order-lg-2">
               <div class="single-portfolio__meta__description">
                 <p>Type Terms, an animated cheat sheet aimed to help teach new designers, and remind experienced ones,
                   about typographic terminology.</p>
               </div>
             </div>
             <div class="col-12 col-lg-3 order-lg-1">
               <div class="single-portfolio__meta__category">
                 <p><span>Identity</span><span>UI / UX</span><span>Art Direction</span></p>
               </div>
             </div>
             <div class="col-12 col-lg-3 order-lg-3">
               <div class="single-portfolio__meta__detail">
                 <p><span>Pixudio</span><span>October 13, 2018</span></p>
                 <p><a href="#"> <strong>Lunch website</strong></a></p>
               </div>
             </div>
           </div>
         </div>
         <div class="single-portfolio__copy">
           <div class="portfolio--images">
             <div class="poster poster--flexible in-view">
               <figure style="padding-top: 66.67%"><img class="lazyload--el lazyload in-view__child"
                   src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="assets/media/stock/placeholder-1920x1280.jpg" alt="" width="1920" height="1280">
                 <div class="poster--cover in-view in-view__child"></div>
               </figure>
             </div>
             <div class="poster poster--flexible in-view">
               <figure style="padding-top: 66.67%"><img class="lazyload--el lazyload in-view__child"
                   src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="assets/media/stock/placeholder-1920x1280.jpg" alt="" width="1920" height="1280">
                 <div class="poster--cover in-view in-view__child"></div>
               </figure>
             </div>
             <div class="poster poster--flexible in-view">
               <figure style="padding-top: 66.67%"><img class="lazyload--el lazyload in-view__child"
                   src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                   data-src="assets/media/stock/placeholder-1920x1280.jpg" alt="" width="1920" height="1280">
                 <div class="poster--cover in-view in-view__child"></div>
               </figure>
             </div>
           </div>
         </div>
         <div class="single-content">
           <h3>All their equipment and instruments are alive.</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
             et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
             aliquip ex ea commodo consequat.</p>
           <blockquote>
             <p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent
               per conubia nostra, per inceptos himenaeos.</p>
           </blockquote>
           <p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent
             per conubia nostra, per inceptos himenaeos. Mauris in erat justo nullam ac urna eu felis dapibus
             condimentum
             sit amet. Augue sed non neque elit sed ut imperdiet nisi proin condimentum fermentum nunc. Etiam pharetra,
             erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse
             in orci enim. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
           <h5>There are two things in the word</h5>
           <p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent
             per conubia nostra, per inceptos himenaeos. Mauris in erat justo nullam ac urna eu felis dapibus
             condimentum
             sit amet. Augue sed non neque elit sed ut imperdiet nisi proin condimentum fermentum nunc. Etiam pharetra,
             erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse
             in orci enim. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
           <div class="single-content__footer">
             <div class="single-content__tags">
               <span class="sub-head-2">Tags</span>
               <a href="blog.html">deep learning</a>
               <a href="blog.html">machine learning</a>
             </div>
             <div class="single-content__share">
               <span class="sub-head-2">Share</span>
               <a href="#">
                 <i class="fa fa-twitter"></i>
               </a>
               <a href="#">
                 <i class="fa fa-facebook"></i>
               </a>
               <a href="#">
                 <i class="fa fa-linkedin"></i>
               </a>
               <a href="#">
                 <i class="fa fa-google-plus"></i>
               </a>
             </div>
           </div>
         </div>
         <div class="single-portfolio__navigation">
           <div class="portfolio-navigation">
             <div class="row align-items-center">
               <div class="col-auto"><a href="#"> <strong>Previous</strong></a></div>
               <div class="col">
                 <hr>
               </div>
               <div class="col-auto"><a href="#"> <strong>Next</strong></a></div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
