  <section class="section section--singular" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1">
          <div class="row">
            <div class="col-12 col-lg-5">
              <h1 class="page-title">My Resume</h1>
              <div class="single-portfolio__meta__description">
                <p>While the content on my resume can’t be said to be exhaustive, it does provides a peek into my
                  personal work experience that is related to product development and management and its not exhaustive
                  on other experiences that aren’t related to the field.</p>
              </div>
              <div class="single-portfolio__meta">
                <div class="row">
                  <div class="col-12 col-lg">
                    <div class="single-portfolio__meta__category">
                      <p><span></span><span></span></p>
                    </div>
                  </div>
                  <div class="col-12 col-lg-auto">
                    <div class="single-portfolio__meta__detail">
                      <p><strong><span>Last Updated</span><span>June, 2022</span></strong></p>
                    </div>
                  </div>
                  <div class="col-12">
                    <p><a href="#"> <strong>View as PDF</strong></a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 offset-lg-1">
              <div class="single-portfolio__copy" style="cursor: pointer;">
                <div class="portfolio--images">
                  <div class="poster poster--flexible in-view">
                    <figure style="padding-top: 134.83%"><img class="lazyload--el lazyload in-view__child"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="/assets/media/resume/resume.png" alt="" width="445" height="600">
                      <div class="poster--cover in-view in-view__child"></div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="single-portfolio__navigation">
            <div class="portfolio-navigation">
              <div class="row align-items-center">
                <div class="col-auto"><a href="#"> <strong>Previous</strong></a></div>
                <div class="col">
                  <hr>
                </div>
                <div class="col-auto"><a href="#"> <strong>Next</strong></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
